.grid {
  display:grid;
  max-width: 900px;
  overflow-x:scroll;
}

.cell {
  flex-direction: column;;
  background-color: rgba(238, 228, 218, 0.35);
  border: #faf8ef 0.1px solid;
  font-weight: 700;
  align-text: center;
  max-width: 30px;
  max-height: 30px;
  box-sizing: border-box;
  padding: 1em;
  font-size: 1vh;
}

@media screen and  (max-width : 600px) {
  .grid {
    max-width: 400px;
  }
}
