.commands-list{
    display:flex;
    height: 100px;
    flex-direction: column;
    overflow: scroll;
    width: 100%;
    border: 1px dotted black;
    overflow-y:scroll;
    padding: 0.25em;
    margin-bottom: 5px;
}
.command-box {
    border-bottom: 1px dashed black;
    width: 100%;
}
.container {
    text-align: center;
}

.commandlist-container {
    width: 33.33%;
    max-width: 300px;
    margin: 0 10px;
}

@media screen and  (max-width : 600px) {
    .commandlist-container {
        width: 90%;
        max-width: 90%;
    }
}