.instructions-container {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}
.toggle-instructions {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
}
.toggle-button {
    font-size: 13px;
    cursor: pointer;
}