.uploader-container{
    display:flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    padding: 2em;
    margin: 0 auto;
}

.file-input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: start;

}

.file-input {
    padding-bottom: .5rem;
}
.message {
    font-size: 28px;
}
a {
    font-size: 10px;
}

@media screen and  (max-width : 800px) {
    .uploader-container {
        flex-direction: column;
        width: 100%;
    }
    .message {
        font-size: 20px;
        margin-bottom: 10px;
    }
}