
.bulldozer {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
    margin: 2px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.top {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.bottom {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}