.controller-container {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    align-content: center;
    max-width: 300px;
    margin: 0 10px;
}

.controller-button {
    cursor: pointer;
}

@media screen and  (max-width : 600px) {
    .controller-container {
        width: 90%;
        max-width: 90%;
    }
}