.itemized-list{
    display:flex;
    height: 100px;
    flex-direction: column;
    overflow: scroll;
    width: 100%;
    border: 1px dotted black;
    overflow-y:scroll;
    padding: 0.25em;
    margin-bottom: 5px;
}
.item {
    border-bottom: 1px dashed black;
    width: 100%;
}
.itemized-container {
    width: 33.33%;
    max-width: 300px;
    margin: 0 10px;
}

@media screen and  (max-width : 600px) {
    .itemized-container {
        width: 90%;
        max-width: 90%;
    }
}