.App {
  width: 100vw;
  margin: 0;
  background-color: #faf8ef;
}

.controller-command-container{

}

.controller-command-container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  margin: 0.5em auto;
}

.finalreport-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.bulldozer-container{
  display:flex;
  align-items: center;
  flex-direction: column;;
  padding-top:1em;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 10px;
}

button {
  padding: 0.5em;
}

.inner-grid {
  display: flex;
  flex-direction:  row;;
}


@media screen and  (max-width : 600px) {
  .controller-command-container {
    flex-direction: column;
    align-items: center;
  }
}